<style>

    .item {
        width: 20rem;
    border: 1px solid aliceblue;
    padding: 20px;
    border-radius: 10px;
    }
    
</style>

<div *ngFor="let item of cartList"  style="width: 20rem;">

  <a (click)="removeCart(item._id)" class="close"> </a>
    <img class="image" [src]="item.imageUrl" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{item.name}}</h4>
    <p class="card-text">{{ item.description }}</p>
    <button (click)="removeCart(item._id)" class="btn btn-danger"> Remove </button>
  </div>
</div>

<div *ngIf="cartList.length == 0">
    <h3>  Sorry, There are no products right now! :(   </h3>
        <h4 (click)="createProduct()"> < Go create some ?</h4>

</div>


